@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

img{
    width: 1425px;
    height: 500px;
    object-fit: fill;

}

body{
    background-color: rgb(8, 7, 7);
}

.about-us-text{
    color: antiquewhite;
    text-align: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.para2{
    color:rgb(245, 240, 240);
    background-color: rgb(8, 7, 7);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    
}

span{

    color: aliceblue;
}

footer{
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 10px 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.footer-content{
    margin: 0 auto;
    color: rgb(250, 235, 215);
    
}



.footer-content{
    color: rgb(245, 240, 240);
    text-decoration: none;

}

.footer-content a{
    color: #ffcc00;
    border-radius: 100px;
    text-decoration: none;
}
.p{
   
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.buttons {
    display: flex;
    margin: auto;
    
}




