* {
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    background: black;

}


.wrapper{
    width: 400px;
    height: 600px;
    background: linear-gradient(to right,
     #2c2c2c,
     #373636,
     #4c4c4d);
    border-radius: 5px;
    padding: 40px;
    margin-top: 200px;
    align-content: center;
    margin-left: -900px;
  
    
}



h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
    
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    outline: none;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -5px;
}

.buttons {
    display: flex;
    align-items: center;
}

.results, .clear {
    position: relative;
    width: 50%;
    height: 40px;
    background: #908f9088;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin: 20px 0;
    
}

.clear{
    margin-left: 100px;
}

.results:hover, .clear:hover {
    background-color: #4542459f;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.headdiv {

    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 400px;

}

.ckName {
    color: antiquewhite;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: -650px;
    font-size: 30px;
    font-weight: 700px;


}

.nav-links li {

    display: inline-block;
    padding: 0px 20px;
}


.logodv{
    width:300px;
    width: 40px;
    height: 40px;
}

h3{
    color: antiquewhite;
    
   

}
.main{
    margin-top: -700px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10px;
    
   
}
.ckName {
    color: antiquewhite;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 700px;

}

.leftpart{
    display: flex;
   width: 800px;
   justify-content: center;
   
}


li a {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: antiquewhite;
    
}