*{
    font-family:  sans-serif;
}
body{
    display: flex;
    justify-content: center;
    padding: 40px;
    align-items: center;
    background: black;
     

}
.wrapper{
    margin-top: 200px;
    width: 400px;
    height: 800px;
    background: rgba(111, 110, 110, 0.438);
    border-radius: 5px;
    padding: 40px;
    align-items: center;
    
   
   
    
}


.wrapper.active {
    transform: scale(0)

}

h2{
    font-size: 30px;
    color: #fff;
    text-align: center;

}

.input-group{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}
.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
   
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.input-group input{
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;

}

.input-group input:focus~label,
.input-group input:valid~label{
    top: -5px;
}

.buttons {
    display: flex;
    align-items: center;

}

.results{
    position: relative;
    width: 100%;
    height: 40px;
    background: #908f9088;
    font-size: 16px solid;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin-right: 20px;
    margin-top: 20px;
}
.results:hover{
    background-color: #4542459f;

}

.clear{
    position: relative;
    width: 100%;
    height: 40px;
    background: #908f9088;
    font-size: 16px solid;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
}

.clear:hover{
    background-color: #4542459f;

}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.logo{
    width: 40px;
    height: 40px;

}

.logodv {
    /* margin-left: 200px; */
}

.headdiv {

    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 400px;

}
.headPart {
    justify-content:space-between;
    align-items: center;
    display: flex;
    gap: 10px;
    margin-left: 150px;
}

li,a,button {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: antiquewhite;
    text-decoration: none;
}
.ckName {
    color: antiquewhite;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin-left: -650px; */
    font-size: 30px;
    font-weight: 700px;


}

body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: black;
}
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 30px 10px;
    margin-top: -800px;
    
}

.nav-links{
    list-style: none;

}
.nav-links li {

    display: inline-block;
    padding: 0px 20px;
}
