*{
    font-family:  sans-serif;
}
body{
    display: flex;
    align-items: center;
    background: black;

}
.wrapper{
    width: 400px;
    height: 800px;
    background: linear-gradient(to right,
     #2c2c2c,
     #373636,
     #4c4c4d);
    border-radius: 5px;
    padding: 40px;
    margin-top: 100px;
    align-content: center;
    margin-left: 500px;
   
    
}


h2{
    font-size: 30px;
    color: #fff;
    text-align: center;

}

.input-group{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
   
}
.input-group label{
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 16px;
    color: #fff;
    transition: .5s;
    outline: none;
}
.input-group input{
    position: relative;
    margin-bottom: -2px;
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 1 5px;
    background: transparent;
    border: none;
    outline:none;
    

}

.input-group input:focus~label,
.input-group input:valid~label{
    top: -5px;
}


.buttons {
    display: flex;
    align-items: center;
}

.results, .clear {
    position: relative;
    width: 50%;
    height: 40px;
    background: #908f9088;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    margin: 20px 0;
    
}
.clear{
    margin-left: 100px;
}
.hrline {color: antiquewhite;}


.results:hover, .clear:hover {
    background-color: #4542459f;
}

p{
    color: #fff;
}

