img{
    width: 1425px;
    height: 500px;
    object-fit: fill;

}

body{
    background-color: rgb(8, 7, 7);
}

.about-us-text{
    color: antiquewhite;
    text-align: center;
}

.para2{
    color:rgb(245, 240, 240);
    background-color: rgb(8, 7, 7);
    
}

span{

    color: aliceblue;
}
